/* Propriétés générales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Propriétés des header des pages */
.header {
  background-color: beige;
}

.header h1{
  margin: auto;
  padding: 10px;
}

/* Propriétés des footer des pages */
.footer {
  background-color: tomato;
}

.footer h2{
  margin: auto;
  padding: 10px;
}
