/* Propriétés générales */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Propriétés des header des pages */
.header {
  background-color: #f85fb8;
  height: auto;
  display: flex;
}

.logo-groupomania{
  padding: 15px;
  display: flex;
  justify-content: left;
}

.connect {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

/* Propriétés des footer des pages */
.footer {
  background-color: #f85fb8;
  height: 4em;
}

.footer h2{
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
}

.footer p {
  font-size: 0.8em;
}
