@import "./utils/_variables.scss";
@import "./utils/_mixins.scss";
@import "./utils/_responsive.scss";

/*Paramètres de la barre de navigation*/
#root {
  nav{
    width: 100%;
    @include flex_space_between;
    background-color: $primary_color;
    padding: 1em;
    > a.logo {
      font-size: 1em;
      @include nav_link;
    }
  }
  .links {
    @include flex_space_evenly;
    a {
      margin: auto 2em;
      font-size: 0.9em;
      @include nav_link;
    }
  }
}

/*Paramètres du contenu de la page*/
.container {
  width: 80%;
  box-shadow: $box_shadow;
  margin: 2em auto;
  padding: 2em;
  @include flex_column;
  h1 {
    text-align: center;
    font-size: 1.2em;
    color: $second_color;
  }
  h2 {
    font-size: 0.9em;
    text-align: center;
    color: $second_color;
  }
  p {
    font-size: 0.9em;
    text-align: center;
    color: $second_color;
    a {
      color: $primary_color;
      @include text_link;
    }
  }
}

// paramètres photo utilisateur
.article-card {
  display: flex;
  img {
    width: 5%;
    height: 5%;
    margin: 1em;
    border-radius: 50%;
    border: 1px solid $main_color;
  }
  .show-article {
    margin: 0.2em;
    h2 {
      text-align: left;
      color: $main_color;
    }
    h3 {
      font-size: 0.9em;
      color: $second_color;
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
}

// responsive
// écrans moins de 360px
@media #{$x_small_screen}
{
  #root {
    nav {
      width: 100%;
    }
  }
}

// écrans plus de 360px et moins de 760 px 
@media #{$small_screen}
{
  #root {
    nav {
      width: 100%;
    }
  }
}

// écrans de plus de 760 px et moins de 1024px
@media #{$medium_screen}
{
  #root {
    nav {
      width: 100%;
    }
  }
}

// format landscape
@media #{$landscape}
{
  #root {
    nav {
      width: 100%;
    }
  }
}