@charset "UTF-8";
/* backgrounds colors */
/*Paramètres de la barre de navigation*/
#root a img {
  width: 50px;
  margin: 0.6em;
  border-radius: 50%;
  border: 1px solid black;
  text-decoration: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.9;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#root a img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#root .mr-auto a {
  font-weight: bold;
  margin-left: 3em;
}

/*Paramètres du contenu de la page*/
.container {
  width: 90%;
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  margin: 2em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  color: indianred;
}

.container h2 {
  font-size: 0.9em;
  text-align: center;
  color: indianred;
}

.container p {
  font-size: 0.9em;
  text-align: center;
  color: #454545;
}

.container p a {
  font-size: 0.8em;
  font-weight: bold;
}

.container p a:hover {
  color: #6e1313;
}

.container .post-option {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .post-option button {
  border: none;
  margin: 1em;
}

.container .comment-div h2 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 2em;
}

.container .comment-div h3 {
  font-size: 0.8em;
  font-weight: bold;
  color: indianred;
}

.container .comment-div p {
  text-align: left;
}

.container .comment-div .post-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.container .comment-div .post-comment .input-group {
  margin: auto;
  width: 40%;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-card img {
  width: 7%;
  height: 7%;
  margin: 1em;
  border-radius: 50%;
  border: 1px solid black;
}

.article-card .show-article {
  margin: 0.5em;
}

.article-card .show-article h2 {
  text-align: left;
  color: black;
}

.article-card .show-article h3 {
  font-size: 0.9em;
  color: #454545;
  text-align: left;
}

.article-card .show-article p {
  text-align: left;
  color: black;
}

.article-card .show-article #created-at {
  font-size: 0.8em;
  color: #454545;
}

.article-card .show-article .nav-link {
  color: indianred;
  font-weight: bold;
  padding: 0em;
}

.article-card .show-article .nav-link:hover {
  color: #6e1313;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-submit .btn {
  margin: 0.5em;
}

.user-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3em;
}

.user-page .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-page .images img {
  width: auto;
  margin: auto;
}

.user-page .user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.user-page .user-button .btn {
  margin: 0.5em;
}

.user-article h2 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  color: indianred;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-article p {
  font-size: 0.9em;
  text-align: left;
  color: #454545;
}

.user-article a {
  font-size: 1em;
  font-weight: bold;
  color: indianred;
}

.user-article a:hover {
  color: #6e1313;
}

.article-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em;
}

.article-page img {
  width: 7%;
  height: 7%;
  border-radius: 50%;
  border: 1px solid black;
}

.article-page .show-article a .nav-link {
  font-weight: 0.8em;
}

.article-page .article-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-left: 3em;
}

.article-page .article-button .btn {
  margin: 0.5em;
}

@media only screen and (max-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 760px) and (min-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 760px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */