@charset "UTF-8";
/* backgrounds colors */
/*Paramètres de la barre de navigation*/
#root nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4.5em;
  background-color: indianred;
}

#root nav img {
  width: 50px;
  margin: 0.6em;
  border-radius: 50%;
  border: 1px solid black;
  text-decoration: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.9;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#root nav img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#root .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#root .links a {
  margin: auto 2em;
  font-size: 0.9em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#root .links a:hover {
  color: whitesmoke;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*Paramètres du contenu de la page*/
.container {
  width: 90%;
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  margin: 2em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  text-align: center;
  font-size: 1.2em;
  color: #454545;
}

.container h2 {
  font-size: 0.9em;
  text-align: center;
  color: #454545;
}

.container p {
  font-size: 0.9em;
  text-align: center;
  color: #454545;
}

.container p a {
  color: indianred;
  font-weight: bold;
}

.container p a:hover {
  color: #6e1313;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-card img {
  width: 5%;
  height: 5%;
  margin: 1em;
  border-radius: 50%;
  border: 1px solid black;
}

.article-card .show-article {
  margin: 0.2em;
}

.article-card .show-article h2 {
  text-align: left;
  color: black;
}

.article-card .show-article h3 {
  font-size: 0.9em;
  color: #454545;
  text-align: left;
}

.article-card .show-article p {
  text-align: left;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-submit .btn-primary {
  width: 40%;
  margin: 0.5em;
}

@media only screen and (max-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 760px) and (min-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 760px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */