@charset "UTF-8";
/* backgrounds colors */
/*Paramètres de la barre de navigation*/
#root a img {
  width: 50px;
  margin: 0.6em;
  border-radius: 50%;
  border: 1px solid black;
  text-decoration: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.9;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

#root a img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#root .mr-auto a {
  font-weight: bold;
  margin-left: 3em;
}

/*Paramètres du contenu de la page*/
.container {
  width: 90%;
  margin: 2em auto;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: indianred;
}

.container h2 {
  font-size: 0.9em;
  text-align: center;
  color: indianred;
}

.container p {
  font-size: 0.9em;
  text-align: center;
  color: #454545;
}

.container p a {
  font-size: 0.8em;
  font-weight: bold;
}

.container p a:hover {
  color: #6e1313;
}

.container .post-option {
  margin: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .post-option button {
  border: none;
  margin: 1em;
}

.article-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  margin: 1em;
  padding: 1em;
}

.article-card img {
  width: 10%;
  height: 10%;
  margin: 1em;
  border-radius: 50%;
  border: 1px solid black;
}

.article-card .show-article {
  margin: 0.5em;
}

.article-card .show-article h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: black;
}

.article-card .show-article h2 a {
  font-weight: bold;
  padding: 0em;
  margin-left: 0.5em;
  color: indianred;
}

.article-card .show-article h2 a:hover {
  color: #6e1313;
}

.article-card .show-article h3 {
  font-size: 0.9em;
  color: #454545;
  text-align: left;
}

.article-card .show-article p {
  text-align: left;
  color: black;
}

.article-card .show-article #created-at {
  font-size: 0.8em;
  color: #454545;
}

.article-card .show-article a {
  color: indianred;
  padding-left: 0em;
  text-align: left;
}

.article-card .show-article a:hover {
  color: #6e1313;
}

.form-submit {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-submit .btn {
  margin: 0.5em;
}

.user-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: whitesmoke;
  padding: 1.3em;
  margin-top: 1.5em;
}

.user-page .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  width: 20%;
}

.user-page .images img {
  width: 60%;
  margin: 0em auto 0em auto;
  border-radius: 50%;
  border: 1px solid black;
}

.user-page .images button {
  margin: 0.8em auto 0em auto;
  width: 60%;
  padding: 0em;
}

.user-page .show-article {
  margin-left: 1em;
  margin-right: 1em;
  width: 60%;
}

.user-page .show-article h2 {
  font-size: 1em;
  font-weight: bold;
  text-align: left;
}

.user-page .show-article p {
  text-align: left;
}

.user-page .user-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 20%;
  padding: 0.5em;
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
}

.user-page .user-button p {
  font-weight: bold;
}

.user-page .user-button .btn {
  padding: 0em;
  margin: 0.5em;
}

.user-article {
  background-color: indianred;
  margin-top: Oem;
}

.user-article h2 {
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  margin-top: 2em;
  margin-bottom: 2em;
}

.user-article p {
  font-size: 0.9em;
  text-align: left;
  color: #454545;
}

.user-article a {
  font-size: 1em;
  font-weight: bold;
  color: indianred;
}

.user-article a:hover {
  color: #6e1313;
}

.user-article .user-articles {
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  background-color: whitesmoke;
  margin: 1em;
  padding: 1.2em;
}

.user-article .user-articles a {
  font-weight: bold;
  padding: 0em 0em 0.9em 0em;
  color: indianred;
}

.user-article .user-articles a:hover {
  color: #6e1313;
}

.user-article .user-articles p {
  margin-bottom: 0.6em;
}

.article-content {
  margin-top: 1.5em;
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  padding: 1.5em;
}

.article-content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  color: black;
  margin-bottom: 0.8em;
}

.article-content h2 a {
  font-weight: bold;
  padding: 0em;
  margin-left: 0.5em;
  color: indianred;
}

.article-content h2 a:hover {
  color: #6e1313;
}

.article-content p {
  text-align: left;
}

.article-content .article-page {
  margin: 2em 0em 0em 0em;
}

.article-content .article-page .show-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70%;
}

.article-content .article-page .show-article p {
  text-align: left;
  margin-bottom: 0.2em;
}

.article-content .article-page .show-article a {
  padding: 0.5em 0em 0.6em 0em;
  color: indianred;
  font-size: 0.9em;
}

.article-content .article-page .show-article a:hover {
  color: #6e1313;
}

.article-content .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5em;
}

.comment-div {
  background-color: indianred;
}

.comment-div h2 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 1.5em;
  color: whitesmoke;
}

.comment-div h3 {
  font-size: 0.8em;
  font-weight: bold;
  color: indianred;
}

.comment-div p {
  text-align: left;
}

.comment-div .post-comment {
  -webkit-box-shadow: 0 0 20px #bababa;
          box-shadow: 0 0 20px #bababa;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em 4em 2em 4em;
  padding: 1em;
}

.comment-div .post-comment .input-group {
  margin: auto;
  width: 40%;
}

.comment-div .comment-card {
  margin: 1em 4em 1em 4em;
  background-color: whitesmoke;
  padding: 1em;
}

.comment-div .comment-card h3 {
  color: #454545;
}

.comment-div .comment-card a {
  padding: 0.5em 0em 0.6em 0em;
  color: indianred;
  font-size: 0.9em;
}

.comment-div .comment-card a:hover {
  color: #6e1313;
}

@media only screen and (max-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 760px) and (min-width: 360px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 760px) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (orientation: landscape) {
  nav {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=App.css.map */