$x_small: 360px;
$small: 780px;
$large: 1024px;

//écrans moins de 360 px
$x_small_screen: "only screen and (max-width: #{$x_small})";

// écrans moins de 760 px
$small_screen: "only screen and (max-width: #{$small}) and (min-width: #{$x_small})";

// écrans de plus de 780 px et moins de 1024px 
$medium_screen: "only screen and (max-width: #{$large}) and (min-width: #{$small})";

// landscape
$landscape: (orientation: landscape);