// colors
/* backgrounds colors */
$primary_color: indianred;
$body_color: whitesmoke;

// fonts colors
$main_color: black;
$second_color: #454545;
$nav_link_color: rgb(124, 123, 123);
$text_link_color: rgb(110, 19, 19);
$nav_bar_link: rgb(19, 165, 250);

// box shadow
$box_shadow: 0 0 20px #bababa;